/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --azul: #25bcce;
    --laranja: #f68e31;
    --preto: #231f20;
    --cinza: #808284;
    --cinzaclaro: #D9D9D9;
    --verde: #29803f;
    --branco: #fff;
    --vermelho: #ee312c;
    --amarelo: #fff34f;
    --font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
} */

.login_section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_container {
    background: var(--azul);
    height: 99vh;
    width: 50vw;
    position: relative;
    box-shadow: var(--cinzaclaro) 1px 1px 2px 0px;
}

.login_container {
    height: 99vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: var(--cinzaclaro) 1px 1px 2px 1px;
    position: relative;
}

.fechar-login {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.5em;
}

.circle_login {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--branco);
    position: absolute;
}

.alta {
    top: 2vh;
    left: -4vw;
}

.baixa {
    bottom: 2vh;
    right: -4vw;
}

.titulo_login {
    height: 15vh;
    width: 20vw;
    font-size: 1.3em;
}

.letra_grande {
    font-size: 2em;
}

.letra_media {
    font-size: 2.5em;
}

.text_container {
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.texto-amigo-login-esqueceu {
    margin-left: 10px;
}

.titulo_h2_login::after {
    content: '|';
    margin-left: 4px;
    opacity: 1;
    animation: pisca .7s infinite;
}

.login_form {
    height: 27vh;
    width: 23vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.login_form input {
    height: 4.5vh;
    width: 15vw;
    border: none;
    color: var(--cinza);
    padding: 0 .5em;
    outline: 0;
}

.inpu_div {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.login_form .campo {
    border-radius: 5px;
    color: var(--cinza);
    border-bottom: 2px solid var(--cinzaclaro);
    font-family: var(--font);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
}

.login_form button {
    background: var(--azul);
    border-radius: 5px;
    border: none;
    height: 5vh;
    width: 20vw;
    color: var(--branco);
}

.login_reset_senha {
    width: 11vw;
    color: var(--cinza);
    font-size: .8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login_reset_senha a {
    text-decoration: none;
    color: var(--cinza);
}

.call_recuperar-senha {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background: var(--branco);
    color: var(--azul);
    box-shadow: var(--cinzaclaro) 1px 1px 1px 1px;
    outline: 0;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
