.container-geral{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: cornflowerblue;
}

.barra-lateral{
    background: chartreuse;
    height: 100vh;
    width: 300px;
}

.container_comunidade-usuario{
    background: red;
    display: flex;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.section-usuario{
height: 50vh;
width: 79vw;
background: darkgrey;

display: flex;
align-items: center;
justify-content: center;

}

.dados-usuario{
    height: 45vh;
    width: 60vw;
    background: cadetblue;
}

.section-comunidade{
height: 50vh;
width: 79vw;
background: darkblue;

display: flex;
align-items: center;
justify-content: center;

}

.dados-comunidade{
    height: 45vh;
    width: 70vw;
    background: cadetblue;
}