:root {
    --azul: #25bcce;
    --laranja: #f68e31;
    --preto: #231f20;
    --cinza: #808284;
    --cinzaclaro: #ccc;
    --verde: #29803f;
    --branco: #fff;
    --font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

/*HEADER*/

#ad-header {
    width: 100%;
    height: 10vh;
    background: var(--azul);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .ad-header_box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--cinza); */
}

.ad-imagem {
    height: 8vh;
    width: 15vw;
    
    /* background: chartreuse; */
}


.ad-header_menu {
    height: 10vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background: red; */
}

.ad-container_menu_principal {
    width: 55vw;
    /* background: var(--verde); */
}

.ad-container_menu_principal ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 9vh;
    /* width: 40vw; */
    /* background: violet; */
}


.ad-ahover {
    color: var(--branco);
    text-decoration: none;
    /* font-size: 1.1em; */
    /* background: yellow; */
    padding: 0.5em !important;
}

.ad-header_menu #ad-li_border {
    padding: .5em !important;
    font-weight: 400;
    border: var(--branco) 2px solid;
}

.ad-header_menu .ad-ahover:hover {
    font-weight: 400;
    border-bottom: 2px solid white;
    color: var(--branco);
}





.ad-menu_info {
    min-width: 11vw;
    height: 8.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* background: rosybrown; */
}


.ad-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* background: rebeccapurple; */
    /* height: 8vh; */
}




.ad-info_usuario {
    min-width: 11vw;
    height: 7.5vh;
    display: flex;
    align-items: center;
    /* background: yellow; */
}

.ad-nome-usuario {
    /* background: chocolate; */
    font-size: 1.1em;
    color: var(--branco);
    margin: 0 .5em !important;
}

.ad-foto {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/* Dropdown Content (Hidden by Default) */

.ad-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}


.ad-dropdown-content .ad-link {
    width: 15vw;
    text-align: center;
    padding: 15px 0 !important;
    background-color: #f1f1f1;
    
    color: black;
    
    display: none;
    text-decoration: none;
    display: block;
    border: none;
    font-size: .8em;

}


/* Change color of dropdown links on hover */

.ad-dropdown-content .link:hover {
    background-color: #f5f5f7;
}


/* Show the dropdown menu on hover */

.ad-dropdown:hover .ad-dropdown-content {
    display: block;
}
