@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --azul: #25bcce;
    --laranja: #f68e31;
    --preto: #231f20;
    --cinza: #808284;
    --cinzaclaro: #D9D9D9;
    --verde: #29803f;
    --branco: #fff;
    --vermelho: #ee312c;
    --amarelo: #fff34f;
    --font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}


/* CARDS HOME */

.card-main {
    background: var(--branco);
    border: 1px solid var(--cinzaclaro);
    border-radius: 10px;
    width: 22.5vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 16px;
    margin-left: 10px;
}

.data-card-main {
    width: 21.5vw;
    color: var(--azul);
    /* background: crimson; */
}

.data-card-main p {
    font-size: 1.25em;
    font-weight: bold;
}

.data-card-main i {
    color: var(--cinzaclaro);
}

.identificacao-card-main {
    width: 21vw;
    /* background: darkgoldenrod; */
}

.evento_titulo-card-main {
    font-size: 1.1em;
    /* background: darkgray; */
}

.comuni_evento-card-main {
    font-size: 1em;
    color: var(--cinza);
    /* background: darkgreen; */
}

.box_parti-bot-card-main {
    width: 21vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em .6em;
    font-size: 16px;
}

.partici-card-main {
    font-size: .75em;
}

.link-card-main a {
    padding: .65em;
    text-decoration: none;
    background: var(--azul);
    color: var(--branco);
    border-radius: 5px;
    font-size: .8em;
}


/* FIM CARD HOME */


/* LISTA DE CARDS */

.list_card-main {
    max-width: 95vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: darkorchid; */
}

/* FIM LISTA D CARDS */


/*FIM CARDS*/

/* INDEX */


/* BANNER */

.section_banner {
    height: 600px;
    width: 100%;
    background: rebeccapurple;
}


/* FIM BANNER */


/* TITULO */

.section_titulo_index {
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask_titulo {
    width: 45vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_index {
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.titulo_index::after {
    content: '|';
    margin-left: 4px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


/* FIM DO TITULO */


/* LINHA */

.linha_banner {
    width: 50vw;
    height: 1px;
    margin: 0 auto;
    background: var(--cinzaclaro);
    border: none;
    border-radius: 5px;
}


/* FIM LINHA  */


/* EVENTOS COMUNIDADES */

.eventos_comunidade {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventos_container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo_eventos {
    padding: 1em;
    font-size: 2.1em;
}


/* FIM EVENTOS COMUNIDADES */


/* EVENTOS THOUGHTWORKS */

.home_laranja {
    background-color: #f68e31;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_eventos_tw {
    height: 50vh;
    width: 80vw;
    background: #231f20;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.home_crie-evento_box {
    height: 40vh;
}

.home_titulo-tw {
    color: #ffffff;
    font-weight: 800;
}


/* FIM EVENTOS THOUGHTWORKS */


/* SECTION SOBRE NÓS */

.section_sobre {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container-geral_sobre {
    height: 55vh;
    width: 58vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.titulo_sobre {
    font-size: 2.3em;
}

.sobre_texto {
    max-width: 45vw;
}

.texto_p {
    font-size: 1.2em;
    width: 55vw;
    max-height: 50vh;
    color: var(--preto);
    overflow-wrap: break-word;
}

.call_sobrenos {
    background: var(--laranja);
    padding: .7em;
    font-size: 1.3em;
    text-decoration: none;
    color: #fff;
}


/* FIM SECTION SOBRE NOS */


/* CAIXA CRIE SEU EVENTO */

.call_evento {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_call_evento {
    width: 55vw;
    height: 26vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.5em solid #25bcce;
}

.box_call_evento h4 {
    font-size: 2em;
}

.link_saiba_mais {
    text-decoration: none;
    background: var(--preto);
    padding: 1em;
    color: var(--branco);
}

.linha-call-evento {
    width: 20vw;
    height: 1px;
    border-radius: 5px;
    background: var(--cinzaclaro);
    border: none;
    margin: 0 auto;
}


/* FIM DA CAIXA CRIE SEU EVENTO */


/* FIM INDEX */