@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --azul: #25bcce;
    --laranja: #f68e31;
    --preto: #231f20;
    --cinza: #808284;
    --cinzaclaro: #D9D9D9;
    --verde: #29803f;
    --branco: #fff;
    --vermelho: #ee312c;
    --amarelo: #fff34f;
    --font: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
a,
span,
p,
input,
label,
div {
    font-family: var(--font);
}



/*HEADER*/

#header {
    width: 100%;
    height: 10vh;
    background: var(--azul);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_box {
    width: 21vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem {
    height: 10vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    height: 8vh;
    width: 13vw;
}

.header_menu {
    height: 10vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_menu_principal {
    height: 8vh;
    width: 45vw;
}

.container_menu_principal ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 8vh;
}

.container_menu_secundario {
    width: 16vw;
}

.container_menu_secundario ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    height: 8vh;
    margin: 0;
}

.span_ou {
    color: var(--branco);
    font-style: italic;
}

.header_menu a {
    color: var(--branco);
    text-decoration: none;
    font-size: 1em;
    padding: 0.4em;
}

.header_menu #li_border {
    padding: .7em;
    font-weight: 400;
    border: var(--branco) 2px solid;
}

.header_menu .ahover:hover {
    font-weight: 400;
    border-bottom: 2px solid white;
}


/*FIM HEADER*/