@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
  --azul: #25bcce;
  --laranja: #f68e31;
  --preto: #231f20;
  --cinza: #808284;
  --fonte: sans-serif;
  --cinzaclaro: #ccc;
  --verde: #29803f;
  --branco: #fff;
  --font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

/*HEADER*/

#header {
  width: 100vw;
  height: 10vh;
  background: var(--azul);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_box {
  width: 21vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem {
  height: 10vh;
  width: 20vw;
  /* background: var(--cinza); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem img {
  height: 9vh;
  width: 15vw;
  /* background: red; */
}

.header_menu {
  height: 10vh;
  width: 75vw;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container_menu_principal {
  /* background: rosybrown; */
  height: 8vh;
  width: 45vw;
}

.container_menu_principal ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 8vh;
  /* background: violet; */
}

.container_menu_secundario {
  width: 18vw;
}

.container_menu_secundario ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 8vh;
  /* background: violet; */
}

.span_ou {
  color: var(--branco);
  font-style: italic;
}

.header_menu a {
  color: var(--branco);
  text-decoration: none;
  font-size: 1.1em;
  /* background: yellowgreen; */
  padding: 0.4em;
}

.header_menu #li_border {
  padding: .7em;
  /* background: yellow; */
  font-weight: 400;
  border: var(--branco) 2px solid;
  /* border-bottom:  2px solid white;
    border-top: 2px solid white; */
}

.header_menu .ahover:hover {
  font-weight: 400;
  border-bottom: 2px solid white;
}

/*FIM HEADER*/

/* CADASTRAR EVENTO */

.cad_even_section {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.cad_container_color {
  width: 40vw;
  height: 100vh;
  background: url("") center center;
  background-size: contain;
}

.titulo_cad_evento {
  height: 30vh;
  display: flex;
  align-items: center;
}

.cad_container_form {
  width: 85vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aliceblue; */
}

.cad_form {
  height: 100vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.cad_form input {
  height: 6.5vh;
  width: 22vw;
  color: var(--cinza);
  padding: 0 .5em;
  outline: 0;
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid var(--cinzaclaro);
  font-family: var(--font);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cad_form .campo_dados {
  width: 50vw;
  /* height: 4.5em; */
  color: var(--cinza);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: lightpink; */
}

.cad_select_img {
  padding: 0.5em;
}

.campo_dados label {
  color: #231f20;
}

.campo_dados_block1 {
  height: 20vh;
  width: 50vw;
}

.campo_miniblock1 {
  width: 22vw;
  height: 20vh;
  ;
  flex-direction: column;
}

.cad_form select {
  height: 4.5vh;
  width: 22vw;
  border: none;
  color: var(--cinza);
  padding: 0 .5em;
  outline: 0;
  border-radius: 5px;
  border: 2px solid var(--cinzaclaro);
  font-family: var(--font);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.coffe_divers input {
  display: flex;
  width: 1.2em;
  border: none;
  display: flex;
}

.cad-textarea {
  resize: none;
  width: 21em;
  height: 8em;
  border-radius: 0.3125em;
  /* margin-top: 1em; */
  border: 2px solid var(--cinzaclaro);
  outline: none;
}

.div_small_url {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 22vw;
  justify-content: space-evenly;
}

/* }
.small_url{
  margin-top: 1em;
} */

.div_botao {
  height: 10vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #808284; */
}

.cad-btn-cadastrar-evento {
  background: var(--laranja);
  border-radius: 5px;
  border: none;
  height: 5vh;
  width: 20vw;
  color: var(--branco);
}

.url_cad_input {
  width: 22vw;
  height: 6.5vh;
}

/* ///////////////////////////////// */

.cad__event__vum {
  width: 57vh;
  height: 11vh;
  /* background-color: azure; */
}

.div_small_url_vwm {
  width: 22vw;
  height: 19vh;
  /* background-color: bisque; */
}

.cad__events__um {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* background-color: coral; */
}

.cad__events__dois {
  width: 27vw;
  height: 22vh;
  flex-direction: column;
  /* background-color: red; */
}

.cad_blockum {
  width: 27vw;
  height: 22vh;
  /* background-color: #f68e31; */
}

/* Responsivo de Tablet */

@media screen and (max-width:769px) {
  .cad_even_section {
    width: 100vw;
    height: 120vh;
    background-color: #29803f;
  }
  .cad_container_color {
    display: none;
  }
  .cad_container_form {
    width: 100vw;
    height: 170vh;
    display: flex;
    flex-direction: column;
  }
  .cad_form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 170vh;
    background: rebeccapurple;
  }
  .cad__events__um {
    width: 60vw;
    height: 60vh;
  }
  .cad_form .campo_dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
  }
  .cad_form .campo_dados input {
    width: 65vw;
    /* margin-right: 0.5em !important; */
  }
  .teste_1 {
    margin: 0.5em !important;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
  }
  .teste_1 label {
    padding-right: 0.5em !important;
  }
  
}