  
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --azul: #25bcce;
    --laranja: #f68e31;
    --preto: #231f20;
    --cinza: #808284;
    --cinzaclaro: #ccc;
    --verde: #29803f;
    --branco: #fff;
    --font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.cm-editarcomunidade_section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cm-text_container_editarcomunidade {
    background: var(--azul);
    height: 99vh;
    width: 50vw;
    position: relative;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.cm-circle_editarcomunidade {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--branco);
    position: absolute;
}

.cm-alta_editarcomunidade {
    top: 2vh;
    left: -4vw;
}

.cm-baixa_editarcomunidade {
    bottom: 2vh;
    right: -4vw;
}

.cm-letra_grande_editarcomunidade {
    font-size: 2em;
}

.cm-letra_media_editarcomunidade {
    font-size: 2.5em;
}

.cm-titulo_h2_editarcomunidade::after {
    content: '|';
    margin-left: 4px;
    opacity: 1;
    animation: pisca .7s infinite;
}

.cm-cor{
    color: var(--branco);
}

.cc-btn-sair{
position: absolute;
top: 20px;
right: 30px;
background: none;
border: none;
outline: 0;
font-size: 25px;
}

.cm-editarcomunidade_container {
    height: 99vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
    position: relative;
    /* background: var(--verde); */
}

.cm-editarcomunidade_form {
    height: 90vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
    /* background: royalblue; */
}

/* .cm-inpu_div_editarcomunidade {
    background: rebeccapurple;
    height: 70vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
} */

.cm-campo_editarcomunidade {
    border-radius: 3px;
    color: var(--cinza);
    /* border-bottom: 1.5px solid var(--cinzaclaro); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32.5vw;
    /* background: #29803f; */
}

.cm-editarcomunidade_form .cm-input {
    height: 5vh;
    width: 27vw;
    border: none;
    padding-left: .2em !important;
    outline: 0;
    font-family: var(--font);
    color: var(--cinza);
    background-color: #f3f5f7;
}




.cm-editarcomunidade_form .button {
    background: var(--azul);
    border: none;
    height: 7vh;
    width: 20vw;
    color: var(--branco);
}

.cm-titulo_index::after {
    content: '|';
    margin-left: 4px;
    opacity: 1;
    animation: pisca .7s infinite;
}


.cm-campo_foto_editarcomunidade {
    height: 35vh;
    width: 33vw;
    border-radius: 3px;
    color: var(--cinza);
     display: flex; 
     flex-direction: column; 
    justify-content: center;
    align-items: flex-end;
    /* background-color: red; */
    justify-content: space-around;

}

.cm-preview-foto{
    background-color: #f3f5f7;
    height: 27vh;
    width: 27vw;
    border: 0.5px solid  #f3f5f7;

    /* margin-right: .5em !important; */
}

.cm-input-file{
    background-color: #f3f5f7;
    display: flex;
    width: 27vw;
    height: 4vh;
    padding: 2em;
    

}


.cm-textarea_editarcomunidade {
    width: 27vw;
    height: 20vh;
    resize: none;
    color: var(--cinza);
    padding-left: .5em !important;
    border: none;
    background-color: #f3f5f7;
}



.cm-descricao-editarcomunidade {
    font-family: var(--font);
    color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 32.5vw;
    
    /* background: yellowgreen; */
}

.cm-descricao-editarcomunidade-btn{
    font-family: var(--font);
    display: flex;
    justify-content:flex-end ;
    width: 25.5vw;
    
}

/* .cm-custom-file-input:lang(en)~.custom-file-label::after {
    display: none;
} */

/* .cm-input-group{
    width: 26vw;
    display: flex;
} */

/* .cm-custom-file-input{
    position: relative;
    z-index: 2;
    margin: 0;
    opacity: 0;
    background: #29803f;
}

.custom-file-label{
    width: 13vw;
    background-color: #25bcce;
    color: #f3f5f7;

}



.custom-file{
    background: #231f20;
} */





























@media only screen and (min-device-width:765px) and (max-device-width: 768px)  {
    .text_container_editarcomunidade {
        display: none;
    }
    .editarcomunidade_container {
        width: 100vw;
    }

    .cm-campo_editarcomunidade{
        width: 43.5vw;
    }
    .cm-letra_grande_editarcomunidade {
        font-size: 2.5em;
    }
    .cm-letra_media_editarcomunidade {
        font-size: 2em;
    }
    .titulo_editarcomunidade {
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cm-editarcomunidade_form {
        width: 49vw;
        /* background-color: salmon;  */
    }
    .cm-editarcomunidade_form .cm-input {
        width: 33.5vw;
    }

    .editarcomunidade_form {
        width: 70vw;
    }
    .cm-campo_foto_editarcomunidade{
        width: 43vw;
    }
    .editarcomunidade_form .campo_editarcomunidade {
        width: 55vw;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 14px;
        font-family: 'Open Sans';
    }
    .cm-preview-foto, .cm-input-file{
        width: 33.5vw;
    }
    .inpu_div_editarcomunidade {
        width: 60vw;
    }

    .descricao-editarcomunidade{
        width: 55vw;    
        
    }
    .textarea_editarcomunidade{
        width: 55vw;
    }
    .cm-textarea_editarcomunidade {
        width: 33.5vw;
    }
    .cm-descricao-editarcomunidade{
        width: 43.5vw;
    }
    .cm-descricao-editarcomunidade-btn{
        width: 30.5vw;    
    } 
    
}


@media only screen and (min-device-width: 769px) and (max-device-width: 375px) {
    .text_container_editarcomunidade {
        display: none;
    }
    /* .cm-text_container_editarcomunidade{
        display: none;
    } */
    .editarcomunidade_container {
        width: 100vw;
    }
    .cm-editarcomunidade_form {
        height: 90vh;
        width: 82vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        /* background: royalblue; */
    }
    .cm-campo_editarcomunidade{
        width: 87.5vw;
    }
    .titulo_editarcomunidade {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        width: 84vw;
        font-size: 1em;
    }
    .cm-input-file{
        width: 73vw;
    }
    .inpu_div_editarcomunidade {
        width: 100vw;
    }
    .editarcomunidade_form .campo_editarcomunidade {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 94vw;
        font-size: 14px;
        font-family: 'Open Sans';
    }
    .descricao-editarcomunidade {
        width: 88vw;
    }
    .textarea_editarcomunidade {
        width: 88vw;
    }
    .editarcomunidade_form input {
        width: 50vw;
        
    }
    /* #campo_foto_editarcomunidade label {
        font-size: 0.5em;
    }
     */
    .textarea_editarcomunidade {
        font-size: 1.104em;
    }
}