@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --azul: #25bcce;
    --laranja: #f68e31;
    --preto: #231f20;
    --cinza: #808284;
    --cinzaclaro: #D9D9D9;
    --verde: #29803f;
    --branco: #fff;
    --vermelho: #ee312c;
    --amarelo: #fff34f;
    --font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.sobre_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre_banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    /* background-color: #ee312c; */
}

.sobre_banner_img {
    width: 100%;
    height: 80vh;
}

.sobre_titulo {
    width: 100%;
    height: 20vh;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre_meio {
    width: 82vw;
    height: 160vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sobre_caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    justify-content: space-around;
    height: 60vh;
}

.sobre_caixa2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 60vh;
}
.sobre_caixa2_img{
    border-radius: 10px;
    width: 38vw;
    height: 58vh;
}

.sobre_caixa3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 60vh;
}

.sobre_caixa4 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
}

.sobre_h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 10vh;
}

.sobre_p {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40vw;
    height: 45vh;
}