@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --azul: #25bcce;
    --laranja: #f68e31;
    --preto: #231f20;
    --cinza: #808284;
    --fonte: sans-serif;
    --cinzaclaro: #ccc;
    --verde: #29803f;
    --branco: #fff;
    --font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p {
    font-family: var(--fonte);
}

.respon_descricaoEvento_usuario p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: none;
}

.box1_descricaoEvento_usuario {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}

.box1parte1_descricaoEvento_usuario {
    width: 35vw;
    height: 15vh;
    display: flex;
    align-items: center;
    /* background-color: chocolate; */
}

.box1parte2_descricaoEvento_usuario {
    width: 40vw;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: crimson; */
}

.foto_descricaoEvento_usuario {
    width: 7vw;
    height: 14vh;
    /* background-color: #ee312c; */
}

.foto_descricaoEvento_usuario img {
    width: 6vw;
    height: 12vh;
    border-radius: 50%;
}

.respon_descricaoEvento_usuario {
    width: 30vw;
    height: 14vh;
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    font-weight: bold;
    /* background: blue; */
}

.midias_sociais_descricaoEvento_usuario {
    display: flex;
    width: 21vw;
    height: 7vh;
    border-radius: 5px;
    background: #f6f7f8;
    align-items: center;
    justify-content: space-between;
}

.midias_sociais_descricaoEvento_usuario p {
    width: 9vw;
    height: 4vh;
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 11vw;
    height: 5vh;
    list-style-type: none;
    overflow: hidden;
}

.icone {
    width: 1.6vw;
    height: 3.4vh;
    -webkit-transition: all 0.2s;
}

.icone:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale (1.2);
}

.secao_descricaoEvento_usuario {
    width: 100vw;
    height: 75vh;
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.descricao_descricaoEvento_usuario {
    width: 50vw;
    height: 74vh;
    /* background-color: yellow; */
}

.texto_descricaoEvento_usuario {
    width: 50vw;
    height: 74vh;
    /* background-color: orange; */
}

.banner_descricaoEvento_usuario {
    width: 50vw;
    height: 40vh;
    /* background-color: green; */
}

.banner_descricaoEvento_usuario img {
    width: 50vw;
    height: 40vh;
}

.titulo_descricaoEvento_usuario {
    width: 50vw;
    height: 8vh;
    display: flex;
    align-items: center;
    /* background-color: orchid; */
}

.titulo_descricaoEvento_usuario h2{
    font-size: 1.4em;
}

.paragrafo_descricaoEvento_usuario {
    width: 50vw;
    height: 27vh;
    /* background-color: palegreen; */
}

.informacoes_descricaoEvento_usuario {
    width: 25vw;
    height: 74vh;
    background-color: #f6f7f8;
}

.infor_geral_descricaoEvento_usuario {
    width: 25vw;
    height: 20vh;
    display: flex;
    align-items: center;
    /* background-color: azure; */
}

.foto2_descricaoEvento_usuario {
    width: 7vw;
    height: 12vh;
    background-color: #ffffff;
}

.foto2_descricaoEvento_usuario img {
    width: 6vw;
    height: 12vh;
    /* border-radius: 50%; */
}

.descri_inf_descricaoEvento_usuario {
    width: 19vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    background-color: #ffffff;
}

.end-maps_descricaoEvento_usuario {
    width: 25vw;
    height: 25vh;
    border: 0;
}

.maps_descricaoEvento_usuario {
    width: 25vw;
    height: 25vh;
}

.contatos2_descricaoEvento_usuario {
    width: 25vw;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.logo1_descricaoEvento_usuario {
    width: 5vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.data_e_horario_descricaoEvento_usuario {
    width: 20vw;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.fa-clock:before {
    color: #000000;
    font-size: 2em;
}

.contatos3_descricaoEvento_usuario {
    width: 25vw;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.logo2_descricaoEvento_usuario {
    width: 5vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.localizacao_descricaoEvento_usuario {
    width: 20vw;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.fa-map-marker-alt:before {
    color: #000000;
    font-size: 2em;
}


/* //////////////////////////////////////////////////////// */


/* Responsivo Tablet */

@media screen and (max-width:769px) and (min-width:425px) {
    .box1_descricaoEvento_usuario {
        width: 100vw;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #ffffff;
    }
    .box1parte1_descricaoEvento_usuario {
        width: 48vw;
        height: 15vh;
        display: flex;
        align-items: center;
        background-color: chocolate;
    }
    .foto_descricaoEvento_usuario {
        width: 14vw;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ee312c;
    }
    .foto_descricaoEvento_usuario img {
        width: 11vw;
        height: 13vh;
        border-radius: 50%;
        background-color: #25bcce;
    }
    .respon_descricaoEvento_usuario {
        width: 34vw;
        height: 15vh;
        background: blue;
    }
    .Cordenador_descricaoEvento_usuario p {
        height: 4vh;
        color: #000000;
    }
    .Comunidade_descricaoEvento_usuario p {
        height: 4vh;
        color: #000000;
    }
    .Categoria_descricaoEvento_usuario {
        height: 4vh;
        color: #000000;
    }
    .box1parte2_descricaoEvento_usuario {
        width: 30vw;
        height: 15vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* background-color: crimson; */
    }
    .midias_sociais_descricaoEvento_usuario {
        display: flex;
        width: 30vw;
        height: 6vh;
        border-radius: 5px;
        background: #f6f7f8;
        align-items: center;
        justify-content: space-between;
    }
    .midias_sociais_descricaoEvento_usuario p {
        width: 16vw;
        height: 4vh;
        color: #000000;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1.2em;
    }
    .secao_descricaoEvento_usuario {
        width:  100vw;
        height: 100vh;
        background-color: #f6f7f8;
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }
    .banner_descricaoEvento_usuario img {
        width: 57vw;
        height: 27vh;
    }
    .banner_descricaoEvento_usuario {
        width: 57vw;
        height: 27vh;
        /* background-color: green; */
    }
    .texto_descricaoEvento_usuario {
        width: 57vw;
        height: 74vh;
        /* background-color: orange; */
    }
    .paragrafo_descricaoEvento_usuario {
        width: 57vw;
        height: 39vh;
        /* background-color: palegreen; */
    }
    .informacoes_descricaoEvento_usuario {
        width: 32vw;
        height: 77vh;
        /* background-color: #f6f7f8; */
        background-color: pink;
    }
    .contatos2_descricaoEvento_usuario {
        width: 32vw;
        height: 12vh;
        display: flex;
        align-items: center;
        background-color: #ffffff;
    }
    .contatos3_descricaoEvento_usuario {
        width: 32vw;
        height: 12vh;
        display: flex;
        align-items: center;
        background-color: #ffffff;
    }
    .infor_geral_descricaoEvento_usuario {
        width: 32vw;
        height: 27vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        /* background-color: azure; */
    }
    .foto2_descricaoEvento_usuario {
        width: 11vw;
        height: 12vh;
        background-color: red;
    }
    .foto2_descricaoEvento_usuario img {
        width: 11vw;
        height: 12vh;
    }
    .descri_inf_descricaoEvento_usuario {
        width: 32vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: unset;
        justify-content: center;
        background-color: #ffffff;
    }
    .end-maps_descricaoEvento_usuario {
        width: 32vw;
        height: 12vh;
        border: 0;
        /* background-color: #ee312c; */
    }
    .maps_descricaoEvento_usuario {
        width: 32vw;
        height: 13vh;
    }
    .logo1_descricaoEvento_usuario {
        width: 10vw;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
    }
    .data_e_horario_descricaoEvento_usuario {
        width: 22vw;
        height: 12vh;
        display: flex;
        align-items: center;
        background-color: #ffffff;
    }
    .logo2_descricaoEvento_usuario {
        width: 10vw;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
    }
    .localizacao_descricaoEvento_usuario {
        width: 22vw;
        height: 12vh;
        display: flex;
        align-items: center;
        background-color: #ffffff;
    }

    .titulo_descricaoEvento_usuario {
        width: 57vw;
        height: 10vh;
        display: flex;
        align-items: center;
        /* background-color: orchid; */
    }
}


/* //////////////////////////////////////////////////////// */


/* Responsivo Celular */


/* Responsivo Mobile */

@media screen and (max-width: 425px) and (min-width: 300px) {
    .box1_descricaoEvento_usuario {
        width: 100vw;
        height: 23vh;
        flex-direction: column;
        background-color: #ffffff;
        /* background-color: blue; */
    }
    .box1parte1_descricaoEvento_usuario {
        width: 100vw;
        height: 15vh;
        display: flex;
        /* background-color: chocolate; */
    }
    .foto_descricaoEvento_usuario {
        width: 28vw;
        height: 15vh;
        background-color: #ee312c;
    }
    .foto_descricaoEvento_usuario img {
        width: 22vw;
        height: 14vh;
        border-radius: 50%;
        background-color: #25bcce;
    }
    .respon_descricaoEvento_usuario {
        width: 66vw;
        height: 15vh;
        /* background: blue; */
    }

    .Cordenador_descricaoEvento_usuario {
        width: 66vw;
    }
    .Comunidade_descricaoEvento_usuario {
        width: 60vw;
    }
    .Categoria_descricaoEvento_usuario {
        width: 60vw;
    }
    .box1parte2_descricaoEvento_usuario {
        width: 100vw;
        height: 8vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* background-color: crimson; */
    }
    .midias_sociais_descricaoEvento_usuario {
        display: flex;
        width: 40vw;
        height: 6vh;
        border-radius: 5px;
        background: #f6f7f8;
        align-items: center;
        justify-content: space-between;
    }
    .midias_sociais_descricaoEvento_usuario p {
        width: 29vw;
        height: 4vh;
        color: #000000;
        font-weight: bold;
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* bloco principal */
    .secao_descricaoEvento_usuario {
        width: 100vw;
        height: 151vh;
        flex-direction: column;
        /* background-color: #777777; */
    }
    .banner_descricaoEvento_usuario {
        width: 100vw;
        height: 30vh;
        /* background-color: green; */
    }
    .banner_descricaoEvento_usuario img {
        width: 100vw;
        height: 30vh;
    }
    .titulo_descricaoEvento_usuario {
        width: 100vw;
        height: 10vh;
        display: flex;
        align-items: center;
        /* background-color: brown; */
    }
    .paragrafo_descricaoEvento_usuario {
        width: 100vw;
        height: 45vh;
        /* background-color: palegreen; */
    }
    .descricao_descricaoEvento_usuario {
        width: 100vw;
        height: 86vh;
        /* background-color: yellow; */
    }
    .texto_descricaoEvento_usuario {
        width: 100vw;
        height: 86vh;
        /* background-color: orange; */
    }
    .informacoes_descricaoEvento_usuario {
        width: 100vw;
        height: 77vh;
        background-color: #f6f7f8;
        /* background-color: pink; */
    }
    .descri_inf_descricaoEvento_usuario {
        width: 78vw;
        height: 12vh;
        display: flex;
        flex-direction: column;
        align-items: unset;
        justify-content: center;
        background-color: #ffffff;
    }
    .infor_geral_descricaoEvento_usuario {
        width: 100vw;
        height: 20vh;
        display: flex;
        align-items: center;
        /* flex-direction: column; */
        background-color: azure;
    }
    .foto_comunidade_descricaoEvento_usuario {
        width: 22vw;
        height: 12vh;
    }
    .foto2_descricaoEvento_usuario img {
        width: 22vw;
        height: 12vh;
        /* background-color: #f68e31; */
    }
    .end-maps_descricaoEvento_usuario {
        width: 100vw;
        height: 25vh;
        border: 0;
        /* background-color: #ee312c; */
    }
    .maps_descricaoEvento_usuario {
        width: 100vw;
        height: 25vh;
    }
    .contatos2_descricaoEvento_usuario {
        width: 100vw;
        height: 10vh;
        display: flex;
        align-items: center;
        background-color: #ffffff;
    }
    .logo1_descricaoEvento_usuario {
        width: 15vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
    }
    .data_e_horario_descricaoEvento_usuario {
        width: 80vw;
        height: 10vh;
        display: flex;
        align-items: center;
        background-color: #ffffff;
    }
    .contatos3_descricaoEvento_usuario {
        width: 100vw;
        height: 10vh;
        display: flex;
        align-items: center;
        background-color: #ffffff;
    }
    .localizacao_descricaoEvento_usuario {
        width: 80vw;
        height: 10vh;
        display: flex;
        align-items: center;
        background-color: #ffffff;
    }
    .logo2_descricaoEvento_usuario {
        width: 15vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
    }
}