@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: var(--font);
}

:root{
    --azul: #25bcce;
    --laranja: #f68e31;
    --preto: #231f20;
    --cinza: #808284;
    --font: sans-serif;
}


.sessao_tornar_funcionario_ADM {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /* background: indigo; */
}


.banner-tornar-adm {
    height: 50vh;
    width: 100%;
}

.banner-tornar-adm img {
    height: 52vh;
    width: 100vw;
}

.caixa_tornar_funcionario_ADM {
    width: 100%;
    height: 50vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background: darksalmon; */
}

.div-titulo-tornar-adm {
    height: 20vh;
    /* background: darkviolet; */
}

.div-titulo-tornar-adm h1 {
    /* background: dodgerblue; */
    width: 73vw;
    text-transform: uppercase;
    color: var(--preto);
}

.container_tornar_adm {
    width: 55vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--preto);
    /* background: red; */
}

.div-input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 24vw;
    border-bottom: 1.5px solid var(--cinzaclaro);
    border-radius: 3px;
}


.container_tornar_adm form {
    width: 40vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: fuchsia; */
}



.input_email {
    width: 18vw;
    height: 5vh;
    border: none;
    color: var(--cinza);
    outline: 0;
    padding-left: .5em;
    /* background: gold; */
}

.botao_cadastrar_fun{
    width: 10vw;
    height: 7vh;
    font-weight: bold;
    background: var(--azul);
    color: #ffffff;
    border: none;
    /* border-radius: 5px; */
}

.div_cards_tornar_adm{
    height: 55vh;
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    /* background: blueviolet; */
}

.card_tonar_adm{
    width: 30vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: .2em;
    border:  1px solid var(--cinzaclaro);
    position: relative;
    margin-left: 25px !important;
}

.div_info_user {
    /* background: #25bcce; */
    width: 23vw;
    height: 8vh;
    color: var(--cinza);
}

.ta-upper{
    text-transform: uppercase;
}


.imagem_fun {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
}

.imagem_fun img {
    border-radius: 50%;
    width: 5vw;
    height: 10vh;
    background-color: var(--azul);
    border-radius: 50%;
}


.excluir-card {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    background: none;
    border: none;
}

.section-lista-adm{
display: flex;
align-items: center;
justify-content: center;
height:75vh;
}