@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
  --azul: #25bcce;
  --laranja: #f68e31;
  --preto: #231f20;
  --cinza: #808284;
  --cinzaclaro: #ccc;
  --verde: #29803f;
  --branco: #fff;
  --font: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}


.usuario_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container_usuario {
  background: var(--laranja);
  height: 99vh;
  width: 50%;
  position: relative;
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}



.circle_usuario {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: var(--branco);
  position: absolute;
}

.alta_usuario {
  top: 2vh;
  left: -4vw;
}

.baixa_usuario {
  bottom: 2vh;
  right: -4vw;
}

.titulo_usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rebeccapurple; */
  height: 15vh;
  width: 40vw;
  font-size: 1.4em;
}

#img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 18vw;
  height: 36vh;
  color: #231f20;
  border-radius: 50%;
  border: 1px solid var(--cinzaclaro);
  background-color: white;
}

.campo_usuario_foto {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 22vw;
  height: 5vh;
  /* background-color: red; */
}

.campo_foto_usuario {
  border-radius: 5px;
  color: var(--cinza);
  border-bottom: 2px solid var(--cinzaclaro);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  /* background-color: #29803f; */
}

.usuario_container {
  height: 99vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: var(--cinzaclaro) 1px 1px 2px 1px;
}

.usuario_form {
  height: 80vh;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.inpu_div_usuario {
  height: 66vh;
  display: flex;
  flex-direction: column;
  width: 33vw;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.campo_usuario {
  color: var(--cinza);
  width: 32vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inpu-dado-usuario {
  width: 26vw;
  border: none;
  background: #EFEFF1;
  height: 5vh;
  /* border-radius: 5px;*/
}

.genero {
  color: var(--cinza);
  width: 32vw;
 display: flex;
}


.genero_usuario {
  /* background-color: #25bcce; */
  font-size: var(--font);
  color: var(--cinza);
  width: 86vw;
  height: 5vh;
  border-radius: 5px;
  color: var(--cinza);
  border-bottom: 2px solid var(--cinzaclaro);
  font-family: var(--font);
}

.div-input-radio {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: #29803f; */
}

.div-radio-genero{
  width: 6.3vw;  display: flex;
  justify-content: space-between;
  align-items: center;
}


.div-radio {
  width: 6.3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.titulo_usuario h2 {
  color: var(--branco);
}


.usuario_form button {
  background: var(--laranja);
  border: none;
  height: 5vh;
  width: 20vw;
  color: var(--branco);
}

@media only screen and (max-device-width: 768px) {
  .usuario_section {
    flex-direction: column;
  }
  .circle_usuario {
    display: none;
  }
  .text_container_usuario {
    width: 100vw;
    height: 64vh;
  }
  .baixa_usuario {
    right: -8vw;
  }
  .alta_usuario {
    left: -8vw;
  }
  .campo_usuario_foto {
    width: 40vw;
  }
  .usuario_container {
    width: 100vw;
  }
  .titulo_usuario {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .usuario_form {
    width: 70vw;
  }
  .usuario_form input{
    width: 50vw;
  }
  .usuario_form .campo_usuario {
    width: 55vw;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-family: 'Open Sans';
    padding-left: 0.7em;

  } */
  .inpu_div_usuario {
    width: 60vw;
  }
  .descricao-usuario {
    width: 55vw;
  }
  .usuario_form button {
    background: var(--laranja);
  }

  .text_container_usuario{
    justify-content: space-around;

}

.inpu_div_usuario {
  width: 80vw;
  display: flex;
  /* background: antiquewhite; */
  align-items: center;
  justify-content: space-around;
}

.campo_usuario {
  width: 53vw;
  display: flex;
  justify-content: space-between;
}

.genero {
  width: 52vw;
}

#img{
  width: 31vw;
}

.div-input-radio {
  width: 36vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: #29803f; */
}

.div-radio-genero {
  width: 13vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-radio {
  /* background: #f68e31; */
  width: 14vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inpu-dado-usuario {
  width: 43vw;
}

}

@media only screen and (max-device-width: 375px) {
  .text_container_usuario {
    width: 100%;
    /* display: none; */
  }
  .circle_usuario {
    display: none;
  }
  .usuario_container {
    width: 100%;
  }
  .campo_usuario_foto {
    width: 82vw;
  }
  .titulo_usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 84vw;
    font-size: 1em;
  }
  .div-input-radio {
    width: 69vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inpu_div_usuario {
    width: 100vw;
  }
  .campo_usuario {
    border-radius: 3px;
    color: var(--cinza);
    /* border-bottom: 1.5px solid var(--cinzaclaro); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 32vw;
    /* background: #29803f; */
  }
  .descricao-usuario {
    width: 88vw;
  }
  .usuario_form input {
    width: 70vw;
  }
  #campo_foto_usuario label {
    font-size: 0.5em;
  }
  .usuario_form button {
    background: var(--laranja);
  }
  #img {
    width: 62vw;
  }
  .titulo_usuario h2 {
    /* width: 67vw; */
    font-size: 1.7em;
    color: #fff;
    /* background: aqua; */
  }
  .campo_usuario {
    width: 90vw;
    height: 5vh;
    justify-content: space-between;

}
/* .genero{
      width: 90vw;
      display: flex;
      justify-content: space-between;
  } */
  .inpu_div_usuario {
    align-items: center;
  }
  .usuario_form button {
    width: 30vw;
  }
  .inpu-dado-usuario {
    height: 5vh;
    ;
  }
  span {
    font-size: 1em;
    }

.footer_midiasocial h4{
 font-size: 1.2em;
      }

.icons{
  width: 36vw;
        }

.genero {
    width: 90vw;
      }

.footer_empresa h4{
        font-size: 1.2em;
        }

.div-input-radio {
          width: 69vw;
          display: flex;
          justify-content: space-around;

      }
.div-radio {
        width: 27vw;
        justify-content: space-between;
    
    }
.div-radio-genero {
      width: 27vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}




