@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --azul: #25bcce;
    --laranja: #f68e31;
    --preto: #231f20;
    --cinza: #808284;
    --cinzaclaro: #D9D9D9;
    --verde: #29803f;
    --branco: #fff;
    --vermelho: #ee312c;
    --amarelo: #fff34f;
    --font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

/* CARD MEUS EVENTOS */

.me-card {
    background: var(--branco);
    border: 1px solid var(--cinzaclaro);
    border-radius: 10px;
    width: 23vw;
    height: 26vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    margin-left: 10px !important;
    padding-left: 5px !important ;
}

.me-data {
    width: 22.5vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    /* background: rebeccapurple; */
}

.me-data .p {
    padding-left: 5px !important;
    font-weight: 600;
    color: var(--azul);
    font-size: 1.45em;
}

.me-data .me-dropbtn i {
    color: var(--cinzaclaro);
}


  .me-dropdown {
    height: 20px;
    width: 20px;
    text-align: center;
  }
  
  .me-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .me-dropdown-content .button {
    height: 50px;
    width: 160px;
    color: black;
    text-align: left;
    padding-left: 5px;
    display: block;
    text-decoration: none;
    border: none;
  }
  
  .me-dropdown-content .button:hover {
      color: var(--azul);
      background: #f1f1f1;
}
  
  .me-dropdown:hover .me-dropdown-content {
    display: block;
  }

.me-identificacao {
    height: 12vh;
    max-height: 15vh;
    width: 22.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: red; */
}

.me-evento_titulo {
    font-size: 1.7em;
    padding-left: 5px ;
    /* background: royalblue; */
}

.me-comuni_evento {
    max-height: 4vh;
    font-size: 1.1em;
    padding-left: 5px ;
    /* background: sienna; */
}

.me-box_parti-bot {
    width: 22.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em .6em !important;
    font-size: .8em;

    /* background: var(--verde); */
}

.me-mensagem{
    color: var(--cinzaclaro);
    margin: 0 auto !important;
}

.me-partici {
    font-size: 1.2em;
}

.me-circle {
    border-radius: 50%;
}

.me-pequeno {
    height: 15px;
    width: 15px;
    background: var(--verde);
}

.me-medio {
    background: var(--cinzaclaro);
    height: 20px;
    width: 20px;
}

.me-grande {
    height: 25px;
    width: 25px;
    background: var(--laranja);
}

.me-text_italic {
    font-style: italic;
    color: var(--cinza);
    font-size: 1.2em;
}

/* FIM CARD MEUS EVENTOS */



/* MEUS EVENTOS */

.me-cinza {
    color: var(--cinza);
}

.me-upper {
    text-transform: uppercase;
    text-align: center;
}

.me-verde {
    color: var(--verde);
}

.me-laranja {
    color: var(--laranja);
}

.me-linha_card {
    width: 48vw;
    /* height: 26vh;    */
    margin-bottom: 1.5em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2.5em !important;
    /* background: #ee312c; */
}

.me-conteiner_section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    /* background: firebrick; */
}

.me-box_eventos_aprovados {
    /* background: forestgreen; */
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.me-box_cards_aprovados {
    /* background: fuchsia; */
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    padding-top: 3em;
    border-right: 1px solid var(--cinzaclaro);
}

.me-box_eventos_analise {
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.me-box_cards_analise {
    height: 80vh;
    width: 50vw;
    padding-top: 3em;
    border-left: 1px solid var(--cinzaclaro);
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*REALIZADOS*/

.me-section_realizados {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.me-container_realizados {
    height: 40vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.me-box_cards_realizados {
    /* background: rosybrown; */
    height: 30vh;
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/*FIM MEUS EVENTOS */

